/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    /* font-style: normal; */
}
/* Shared styles */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
    font-weight: bold;
}
.dark-3{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}







/* ------------------------- */
*{
    margin: 0;
    padding: 0;
}

/* Header styles */

header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: 30px 30px, bottom right;
    background-color: #FFF8F3;
}


/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    
}

nav ul li{
    list-style: none;
    margin-left: 50px;
}

nav li a{
    text-decoration: none;
}

/* Banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 500px;
    /* border: 1px solid black; */
    margin-left: 150px;
    /* margin-top: 280px; */
}

.banner-greetings{
    font-size: 20px;
    font-weight: 600;
    /* margin-bottom: 10px; */
}

.banner-title{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 15px;
}

.banner-description{
    font-size: 15px;
    margin-bottom: 20px;
}

.banner-btn{
    display: flex;
    gap: 20px;
}

.banner-img{
    width: 500px;
    margin-right: 100px;
}


/* main styles */
main{
    max-width: 1100px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

#about{
    /* margin: 110px 220px; */
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFF8F3;
    /* background-color: white; */
    /* border: 1px solid black; */
}

.about-content{
    background-color: white;
    /* width: 800px; */
    /* height: 300px; */
    border: 1px solid black;
}

.about-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-description{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    margin-bottom: 10px;
}


#skills{
    margin-top: 100px;
}


.section-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.section-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.skills-container{
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
}

.skill{
    /* border: 1px solid black; */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
}

.skill, .skill-title, img{
    margin-bottom: 20px;
}

.skill-title{
    font-size: 18px;
}

.skill-description{
    font-size: 16px;
}